venv/
*.pyc
Thumbs.db
*~
.cache
.pytest_cache
.coverage
build
dist
*.egg-info
htmlcov
.tox/
docs/_build
.env
.idea*
db.sqlite
result.json
urls.txt
__pycache__

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/tvg_valida_materiais/node_modules
backend/migrations
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
